<div class="jumbotron">
    <h1>Unleash</h1>
    <p class="lead">Active?</p>
    <p>@ViewBag.Feature: @ViewBag.FeatureEnabled</p>
    <br/>
    <p><a href="https://github.com/Unleash/unleash" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>