name: Pull request

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-13
          - os: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Verify formatting
        run: dotnet format --verify-no-changes
        env:
          PATH: ${{ github.env.PATH }}:/home/runner/.dotnet/tools

      - name: Run tests
        run: dotnet test tests/Unleash.Tests/Unleash.Tests.csproj --no-restore --verbosity normal
