# This is a basic workflow to help you get started with Actions

name: Pull request

# Controls when the action will run.
on:
  push:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2022

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Set up MSBuild in PATH for command
      - name: Setup MSBuild in PATH
        uses: microsoft/setup-msbuild@v1

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'

      # Get NuGet setup for restoring, packaging and pushing
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore packages with NuGet
        run: nuget restore Unleash.sln

      - name: Build the solution
        run: msbuild Unleash.sln /p:Configuration=Release

      - name: Install dotnet format tool
        run: dotnet tool install -g dotnet-format

      - name: Verify formatting
        run: dotnet format --verify-no-changes
        env:
          PATH: ${{ github.env.PATH }}:/home/runner/.dotnet/tools

      - name: Run tests
        run: dotnet test tests/Unleash.Tests/Unleash.Tests.csproj --no-restore --verbosity normal
